.snackbar {
  visibility: hidden;
  min-width: 20rem;
  margin-left: -11rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 0.2rem;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  height: 2.6rem;
  bottom: 1.8rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2.6rem;
  font-size: 0.85em;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 25s;
  animation: fadein 0.5s, fadeout 0.5s 25s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 1.8rem; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 1.8rem; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 1.8rem; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 1.8rem; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.snackbar.info {
  background-color: $primary;
}

.snackbar.success {
  background-color: $green;
}

.snackbar.error {
  background-color: $red;
}

.snackbar.show.error {
  background-color: $red;
}

.close-svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: $lightAccent;
  margin: auto;
  text-align: center;
}

.snackbar__button {
  background-color: $red;
  border: 0;
  margin-top: 0.4rem;
  float: right;
}

.snackbar__button:hover {
  cursor: pointer;
}

.snackbar__text {
  display: inline-block;
  text-align: center;
}
